---
import { cva } from 'class-variance-authority'

const baseClasses = cva('rounded-md p-4', {
  variants: {
    size: {
      small: 'text-sm',
      medium: 'text-base',
      large: 'text-lg',
    },
    intent: {
      success:
        'bg-green-50 text-green-800 dark:bg-green-200 dark:text-green-900',
      danger: 'bg-red-50 text-red-800 dark:bg-red-700 dark:text-white',
      warning:
        'bg-yellow-50 text-yellow-800 dark:bg-yellow-300 dark:text-yellow-900',
    },
  },
  defaultVariants: {
    size: 'small',
    intent: 'warning',
  },
})

const { size = 'small', intent = 'warning' } = Astro.props
const className = baseClasses({ size, intent })
---

<div class={className}>
  <div class="flex">
    <div class="flex-shrink-0 text-lg">
      <slot name="icon" class="" />
    </div>
    <div class="ml-2 flex-1">
      <div class="mb-2">
        <slot />
      </div>
      <div>
        <slot name="description" />
      </div>
    </div>
    <div class="flex-shrink-0">
      <slot name="action" />
    </div>
  </div>
</div>
