---

---

<div class="relative flex items-start">
  <div class="flex h-6 items-center">
    <input
      id="comments"
      aria-describedby="comments-description"
      name="comments"
      type="checkbox"
      class="focus:ring-primary-600 h-4 w-4 rounded border-gray-300"
    />
  </div>
  <div class="ml-3 text-sm">
    <label for="comments" class="font-medium">Delete this project</label>
  </div>
</div>
