---
import { cva } from "class-variance-authority";

const baseClasses = cva("p-4 shadow-xl rounded-md w-full sm:w-3/4 md:w-1/2 backdrop:bg-black/10 backdrop:backdrop-blur-sm", {
  variants: {
    intent: {
      info: "",
      success: "bg-green-50 text-green-800 border border-green-200",
      danger: "bg-red-50 text-red-800 border border-red-200",
      warning: "bg-yellow-50 text-yellow-800 border border-yellow-200", // Original style
    },
  },
  defaultVariants: {
    intent: "info",
  },
});

const { intent = "info" } = Astro.props;
const className = baseClasses({ intent });
const { id } = Astro.props;
---

<dialog id={id} class={className}>
  <slot />
  <form method="dialog">
    <div class="mt-4 flex justify-end gap-4">
      <slot name="close" />
      <slot name="action" />
    </div>
  </form>
</dialog>
