---
import { cva } from 'class-variance-authority'
import { twMerge } from 'tailwind-merge'

interface MenuItem {
  name: string
  href: string
  icon: string // Assuming icons are SVG paths for simplicity
  current?: boolean // Optional, to highlight the current active menu item
}

interface Props {
  menuItems: MenuItem[]
  bookmarkItems?: MenuItem[] // Optional, for teams section
  intent: 'info'
  class: string
}

const baseClasses = cva('inset-y-0 z-50 flex w-min sm:w-72 flex-col', {
  variants: {
    intent: {
      info: '',
    },
  },
  defaultVariants: {
    intent: 'info',
  },
})

const {
  menuItems,
  bookmarkItems,
  intent,
  class: additionalClasses = '',
} = Astro.props as Props

const className = twMerge(baseClasses({ intent }), additionalClasses)

// let slots = []
// Object.keys(Astro.slots).forEach((element) =>
//   slots.push(Astro.slots.render(element))
// )
// let prop = await Promise.all(slots)
---

<div class={className}>
  <div class="flex grow flex-col gap-y-5 overflow-y-auto p-2 sm:p-4">
    <nav class="flex flex-1 flex-col">
      <slot />
    </nav>
  </div>
  <div class="mt-auto">
    <slot name="bottom" />
  </div>
</div>
